<div class="mainnavbar">
    <div class="container-fluid">
        <div class="row">

            <!-- First Column: col-lg-2 col-md-1 -->
            <div class="sidebar col-lg-2 col-md-1"  >
                
                <div>
                    <p style="color:#1B467B; font-size: 19px;padding-top: 18px;font-weight: bold;">PURCHASER-SELLER</p>
                </div>
            </div>
            

            <!-- Second Column: col-lg-10 col-md-11 -->
            <div class="mainheading col-lg-10 col-md-11">
                <ul class="icon-list">
                    <li class="icon-item">
                        <i class="fa-solid fa-house"></i>
                    </li>
                    <li class="icon-item">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </li>

                    <li class="icon-item" >
                        <i class="fa-regular fa-circle-question"></i>
                    </li>

                    
                </ul>
            </div>

        </div>
    </div>
</div>
