.sidebar{
    height: 100%;
    background-color:#1B467B;
    max-width: 14%;
    height: 1000px;
}

.mainheading{
    top:50%;
}

.mainbar {
    position: fixed;
    top:8%;
    left: 0;
    width: 100%;
    height: 1000px;
    z-index: 1000; /* Set a higher z-index if needed to ensure it appears above other elements */
    color: white;

}

.sidebar-item {
    margin-top: 15px;
    padding: 12px 0px; 
    width: 100%;
    display: block; 
    font-family: segoe UI;  
}


.sidebar-item:hover{
    background-color: white;
    color:#1B467B ;
    width: 100%;  
    cursor: pointer; 
    border-radius: 3px;
}


.sidebar-item i{
    font-size: 20px;
}

.sidebar a{
    text-decoration: none;
}

.selectedModule{
    background-color: white;
    color: #1B467B;
    border-radius: 3px;
}


